<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>To prove myself as a good professional through great commitment and performance by working in an organization
            that provides a challenging environment where I can use my potential to the maximum extent</p>
      </div>
      
      <h2 style="text-align:center">Head</h2>
      <div class="row">
        <div class="column">
          <div class="round">
            <img src="../static/image/mypic.jpg" alt="sugu" style="width:100%">
            <div class="container">
              <h2>Sugavaneshwaran</h2>
              <p class="title">CEO & Founder</p>
              <p>Canada</p>
              <p>sugu.eshwar98@gmail.com</p>
            </div>
          </div>
        </div>
      
</body>
</html>