<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/acadamii.css">
    <title>Acadamic</title>
</head>
<body>
    <div class="aca-us">
        <h1 class="aca-1">Acadamic</h1>
        <h1 class="msc-us">
            University of Madras <br>
            M.sc. Information Technology, 2020-2022 <br>
            Consistent 8.2 CGPA(till 3rd semester) 
        </h1>
        <h1 class="bsc-us">
            Tagore College of Arts and Science, Chromepet <br> 
            B.Sc. Computer Science, 2017-2020 <br>
            Percentage 80% 
        </h1>
        <h1 class="hsc-us">
            Anjuham Higher Secondary School, Chennai <br>
            HSC, 2016-2017 <br>
            Percentage 72% 
        </h1>
        <h1 class="sslc-us">
            Anjuham Higher Secondary School, Chennai <br>
            SSLC, 2014-2015 <br>
            Percentage 82%   
        </h1>
        <div class="award">
            <h1 class="awd">I have won the best outgoing <br> student award in my college for the year 2019-2020.</h1>
        </div>
    </div>
</body> 
</html>



