<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <div class="contact-us">
            <img src="../static/image/email-logo-png-27.png" class="email-1">
            <h1 class="email" > sugavaneshwaran98@gmail.com</h1>
            <img src="../static/image/phone-call.png" class="pno-3">
            <h1 class="pno">7358524305</h1>
            <img src="../static/image/linkedin.png" class="link-1">
        <a href="https://www.linkedin.com/in/sugavaneshwaran1998/"><h1 class="linknd-profile">Linknd:www.linkedin.com/in/sugavaneshwaran1998</h1></a>
        <img src="../static/image/location-pin.png" class="loc-1">
        <h1 class="addrss">104, Thanthai Periyar Street,MGR Nagar, Chennai-78.</h1>
    </div>
</body>
</html>