<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/course.css">
    <title>Course</title>

</head>
<body>
    <div class="Course-us">
        <h1 class="course-1">Course Completion</h1>
        <h1 class="python">Python course completed in Besant Technologies.</h1>
        <h1 class="hardware">Hardware course completed in Urs System Interactors.</h1>
    </div>
</body>
</html>