<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/skills.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
   <center>
        <div id="SkillBox">
                <center><p>PROFESSIONAL SKILLS</p></center>
          <div class="SkillBar">
            <div id="Skill-HTML">
              <span class="Skill-Area ">HTML</span>
              <span class="PercentText ">85%</span>
            </div>
          </div>
          <div class="SkillBar">
            <div id="Skill-CSS">
              <span class="Skill-Area ">CSS/CSS3</span>
              <span class="PercentText ">70%</span>
            </div>
          </div>
          <div class="SkillBar">
            <div id="Skill-jQuery">
              <span class="Skill-Area ">jQuery</span>
              <span class="PercentText ">40%</span>
            </div>
          </div> 
          <div class="SkillBar">
            <div id="Skill-JS">
              <span class="Skill-Area ">Python</span>
              <span class="PercentText ">75%</span>
            </div>
          </div>
          <div class="SkillBar">
            <div id="Skill-XML">
              <span class="Skill-Area ">Java</span>
              <span class="PercentText ">40%</span>
            </div>
          </div>
            <div class="SkillBar">
            <div id="Skill-SQL">
              <span class="Skill-Area ">Computer Hardware</span>
              <span class="PercentText ">80%</span>
            </div>
          </div>
        </div>
    </center>
        
</body>
</html>